.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #f4f6f8;
  padding: 25px 25px 10px 25px;
  border: 1px solid #dededf;
  border-radius: 5px;
  width: 35vw;
  min-width: 300px !important;
  max-width: 400px !important;
  margin-bottom: 15px;
  margin-top: 10px;
}

.signupInput {
  margin-bottom: 15px !important;
  margin-top: 5px !important;
  width: 100%;
}

button {
  margin-top: 10px !important;
  width: 100%;
  cursor: pointer;
}
