.navHeader {
  background-color: #36474f;
  color: white !important;
  padding: 0px 20px 0px 20px;
  box-shadow: 0px 0px 8px 0px #cccccc !important;
}

.navLinks {
  color: white !important;
}

.logo {
  font-size: 13px;
}

.test {
  margin-top: 15px !important;
  box-shadow: 0px 0px 8px 0px #cccccc !important;
  padding: 7px 0px 7px 0px !important;
  background-color: #fdfdfe !important;
}
