@font-face {
  font-family: "lato-regular";
  src: url(../../assets/fonts/Lato-Regular.ttf);
}

.ui.form .field > label {
  margin: 0 0 0.4rem 0;
}

.ui.card > .content > .description {
  color: inherit;
}

/* label {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: 700;
  text-transform: none;
} */

.ui.selection.dropdown .menu {
  max-height: 188px !important;
}

.ui.form textarea {
  resize: none;
  line-height: 1.65em;
}

.main-wrapper {
  padding: 30px !important;
}

.mainWrapper {
  padding: 30px !important;
}

.ui.search > .results .result .image {
  height: 35px !important;
  width: 35px !important;
  float: left !important;
  border-radius: 50px !important;
}

.ui.search > .results .result {
  padding: 5px 10px 5px 10px !important;
  border-bottom: none !important;
}

.ui.search .prompt {
  border-radius: 5px 0px 0px 5px !important;
  width: 35vw !important;
}

.ui.doubling.grid > .row > .column,
.ui.grid > .doubling.row > .column {
  display: flex !important;
}

.ui.card {
  line-height: 1.65em;
  font-size: 0.9em;
  box-shadow: none;
  border-radius: 0.2em;
  border: 0.5px solid #dfe3e8;
}

.ui.card .meta {
  color: #777777 !important;
}

.ui.button {
  font-weight: 500 !important;
}
.header1 {
  font-size: 1.8em !important;
  line-height: 1.7em !important;
  font-weight: 600 !important;
}

.header2 {
  font-size: 1.5em !important;
  line-height: 1.7em !important;
  font-weight: 500 !important;
}

.header3 {
  font-size: 1.3em !important;
  line-height: 1.7em !important;
  font-weight: 600 !important;
}

.header4 {
  font-size: 1.3em !important;
  line-height: 1.7em !important;
  font-weight: 500 !important;
}

.header5 {
  font-size: 1.2em !important;
  line-height: 1.7em !important;
  font-weight: 500 !important;
}

.header6 {
  font-size: 1.1em !important;
  line-height: 1.7em !important;
  font-weight: 600 !important;
}

.normalText {
  font-size: 1.1em !important;
  line-height: 1.7em !important;
  font-weight: 500 !important;
}

/* .header {
  font-size: 1.5em !important;
  line-height: 1.7em !important;
  font-weight: 500 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
} */
