.educationHeaderContent {
  border: none !important;
  padding-left: 25px !important;
  padding-bottom: 25px !important;
  padding-top: 20px !important;
}

.educationMainContent {
  border: none !important;
  padding-left: 25px !important;
}
