.mainCardHeader {
  font-size: 1.5em !important;
  line-height: 1.7em !important;
  padding: 10px 0px 15px 0px !important;
  font-weight: 600 !important;
  color: #444 !important;
  text-align: center !important;
}
