.main-nav-wrapper {
  background-color: #3a565d;
  color: white !important;
  padding: 5px 20px 5px 20px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25) !important;
}

.main-nav-links {
  color: white !important;
}

.nav-logo {
  font-size: 16px;
}

.dropdown-menu-wrapper {
  margin-top: 20px !important;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) !important;
  padding: 7px 0px 7px 0px !important;
  background-color: #fdfdfe !important;
}
