.searchResultWrapper {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.searchResultHeader {
  margin: 0px 0px 0px 7px !important;
}

.speakerSearchButton {
  background: #f4ce73 !important;
  color: white !important;
  height: 35px !important;
  margin-left: -1px !important;
  border-radius: 0px 5px 5px 0px !important;
}
