.emptyOrganizationsRow {
  display: flex !important;
  min-height: 75vh !important;
  justify-content: center !important;
  align-items: center !important;
}

.emptyOrganizationsColumn {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
