.navWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #36474f;
  color: white;
  padding: 7px 20px 7px 20px;
}

.logo {
  color: white;
  width: 30px;
}

.linkWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100vw - 30px);
}

.navLinkWrapper {
  list-style: none;
  display: flex;
  align-items: center;
}

.navIcon {
  padding-right: 10px;
}

.navLinks {
  color: white;
  font-size: 1.1em;
  padding-left: 30px;
}

.navLinks:hover,
.navLinks:active {
  color: #eeeeee;
}
