.eventDateFromNow {
  color: #d1410d !important;
  font-style: italic !important;
}

.requestedSpeakersContent {
  margin-top: 30px !important;
}

.userEventsSubheading {
  font-size: 17px !important;
  font-weight: 600 !important;
  text-decoration: underline !important;
}

.userEventsContentBox {
  padding-top: 20px !important;
  border: 1px solid #dfe3e8 !important;
  background-color: #fafafa !important;
}
