.profileIntroCoverPhotoContainer {
  background: url(https://newevolutiondesigns.com/images/freebies/space-facebook-cover-5.jpg)
    no-repeat center !important;
  height: 15rem !important;
  background-size: cover !important;
  background-origin: border-box !important;
}

/* .coverPhotoImage {
  width: 1500px !important;
  height: 200px !important;
  max-width: none !important;
  min-width: 100% !important;
} */

.profileIntroImageContainer {
  border: none !important;
}

.profileIntroImage {
  margin-top: -110px !important;
  margin-left: 25px !important;
  margin-bottom: 3px !important;
}

.profileIntroTextContainer {
  border: none !important;
  padding-left: 25px !important;
  padding-top: 0px !important;
  padding-bottom: 25px !important;
}
